<div>
    <form method="post" id="tsaCertificateForm">
        <input style="width: 300px;" type="text" id="hashInput" name="hash" placeholder="Enter research file hash value" />
        <input type="submit" value="Submit" />
    </form>
	
	<div 
		th:each="tsaCertificate, index : ${tsaCertificateList}"
		style="display: flex; flex-direction: column; gap: 10px; margin-top: 20px;"
	>
		<span th:text="TSA Certificate Info : ${tsaCertificate.serialNumber} | ${tsaCertificate.policy} |${tsaCertificate.timestamp}"></span>
	</div>
</div>

<script>
    document.getElementById('tsaCertificateForm').onsubmit = function(e) {
        e.preventDefault();
        const hashValue = document.getElementById('hashInput').value;
        const actionUrl = '/tsaCertificate/create/' + encodeURIComponent(hashValue); 
        this.action = actionUrl;
        this.submit();
    }
</script>